__pycache__/
*.py[cod]
.pytest_cache/
.conda/
.conda-pkgs/
.tectonic-cache/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store
*.log
*.vcd
*.wlf
*.jou
*.str
*.pb
build/
dist/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.toc
*.synctex.gz
*.pdf
*.bit
*.hwh
*.xsa
*.xo
*.xclbin
*.pyc
